body{
  
  }


.flex{display: flex;}
.x1{flex:1}
.x2{flex:2}
.x3{flex:3}
.x4{flex:4}


  /*== Header ==*/
.header{
  background-color: rgba(34, 34, 57, .5);
  color:white;
  display: flex;
  font-size: 1.5rem
  
}
.headerTitle{
  flex:3;
  display: flex;
  align-items: center;
  justify-content: right;
}
.nav{
  display: flex;
  gap:3em;
  flex:4;
  align-items: center;
  justify-content: right;
  margin-right:3em;
}


/*== Main Page == */
.instagramBackground{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  margin: 1em;
  padding: 2rem;
  border-radius: 5px;
  padding-left: 7rem;
}


.QuickDescription{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: flex;
  padding-top:10rem;
}
.QuickDescription h1{
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

}
.QuickDescription p{
  padding-left:6rem;
  padding-right:6rem;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.25em;
  margin:0.75rem;
}
.QuickDescription .btn{
  display: flex;
  margin-left: 6.75rem;
}
.QuickDescription .btn button{
  background-color:lightgreen;
  border:none;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right:1rem;
  padding-top: 0.5;
  padding-bottom: 0.5;
  border-radius: 100px;
  color: black ;
}