.flex{display: flex;}

.flex.center{
  justify-content: center; 
  align-items: center;
}
.x1{flex:1}
.x2{flex:2}
.x3{flex:3}
.x4{flex:4}


  /*== Header ==*/
.header{
  background-color: rgba(34, 34, 57, .5);
  color:white;
  display: flex;
  font-size: 1.5rem;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
  
}
.headerTitle{
  flex:3;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 1.5em;
}
.nav{
  display: flex;
  gap:3em;
  flex:4;
  align-items: center;
  justify-content: flex-end;
  margin-right:3em;
  
  
}
.nav div span{
  border-bottom: solid white 2px;
}
.nav div span:hover {
  color: lightgray;
  border-bottom: solid lightgray 2px;
}



/*== Main Page ==*/
.instagramBackground{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  margin: 1em;
  padding: 2rem;
  border-radius: 5px;
  padding-left: 7rem;
}


.QuickDescription{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: flex;
  padding-top:10rem;
}
.QuickDescription h1{
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

}
.QuickDescription p{
  padding-left:6rem;
  padding-right:6rem;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.25em;
  margin:0.75rem;
  text-align: left;
}
.QuickDescription .btn{
  display: flex;
  margin-left: 6.75rem;
}
.QuickDescription .btn button{
  background-color:rgb(25, 68, 197);
  border:none;
  font-size: 1.7rem;
  padding-left: 2rem;
  padding-right:2rem;
  padding-top: 1rem;
  padding-bottom:1rem;
  border-radius: 5px;
  color: white ;
}
.QuickDescription .btn button:hover{
  background-color: rgb(15, 39, 110);
  color:rgb(137, 137, 137);
}



/* == InstagramBotOptions == */
.options{
  display: flex;
  justify-content: center;
  align-items: center;
}
.optionsForm{
  color: white;
  background-color: #115287;
  padding: 2rem 13.25rem;
  border-radius: 15px;
  max-width: 47rem;
}
.Question span{
  border-bottom: solid white 2px ;
  margin-bottom: 1em;
  font-size: 1.3em;
}
.answerOptions{
  gap: 4em;
  margin-bottom:2em ;
}
.choice{
  display: flex;
  flex-direction: column;
}

/*switch stuff*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.runBotButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.runBotButton span{
  background-color: rgb(184, 0, 0);
  border: solid gray 1px;
  font-size: 2em;
  padding-left: 1rem;
  padding-right:1rem;
  border-radius: 5px;
}
.runBotButton span:hover{
  background-color: darkred;
  cursor: pointer;
  color:lightgray;
}


/*UploadImage*/
.inputButton{
  background-color: lightblue;
  color:black;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border:solid gray 1px;
  border-radius:5px ;
}
.inputButton:hover{
  background-color: rgb(150, 187, 200);
}
.imagePreview{
  margin-top: 0.5em;
  max-width: 93.8px;
}

.imageNameClass{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em ;
}
.removeImageClass{
  display: flex;
  justify-content: center;
  align-items: center;
}
.removeImageClass span{
  padding: 0.25rem 0.739rem;
  color:red;
  font-size: 2em;
  font-weight: bold;
  border-radius:50%;
  aspect-ratio: 1/1;
}
.removeImageClass span:hover{
  background-color: red;
  color:white;
  cursor: pointer;
}
